<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baymax.crash">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".bay.BayActivity"/>
        <activity android:name=".bay.DataFormatExceptionActivity"/>
        <activity android:name=".bay.EnumConstantNotPresentExceptionActivity"/>
        <activity android:name=".bay.BufferOverflowExceptionActivity"/>
        <activity android:name=".bay.CloneNotSupportedExceptionActivity"/>
        <activity android:name=".bay.FileNotFoundExceptionActivity"/>
        <activity android:name=".bay.FileUriExposedExceptionActivity"/>
        <activity android:name=".bay.FormatExceptionActivity"/>
        <activity android:name=".bay.IllegalAccessErrorActivity"/>
        <activity android:name=".bay.InflateExceptionActivity"/>
        <activity android:name=".bay.InterruptedExceptionActivity"/>
        <activity android:name=".bay.NoSuchMethodExceptionActivity"/>
        <activity android:name=".bay.TimeoutExceptionActivity"/>

        <activity android:name=".yong.YongActivity"/>
        <activity android:name=".yong.resourcenotfound.ResourceNotFoundActivity"/>
        <activity android:name=".yong.resourcenotfound.SetTextActivity"/>
        <activity android:name=".yong.resourcenotfound.Layout2IdActivity"/>
        <activity android:name=".yong.resourcenotfound.SummaryActivity"/>
        <activity android:name=".yong.invalidclassexception.InvalidClassActivity"/>
        <activity android:name=".yong.numberformatexception.NumberFormatActivity"/>
        <activity android:name=".yong.numberformatexception.ParseIntActivity"/>
        <activity android:name=".yong.numberformatexception.ParseIntActivity2"/>
        <activity android:name=".yong.numberformatexception.SummaryActivity"/>
        <activity android:name=".yong.illegalaccessexception.IllegalAccessActivity"/>
        <activity android:name=".yong.illegalargumentexception.IllegalArgActivity"/>
        <activity android:name=".yong.illegalargumentexception.SimpleDataFormatActivity"/>
        <activity android:name=".yong.illegalargumentexception.SummaryActivity"/>
        <activity android:name=".yong.classnotfound.ClassNotFoundActivity"/>
        <activity android:name=".yong.cameraaccessexception.CameraAccessActivity"/>
        <activity android:name=".yong.charactercodingexception.CharacterCodingActivity"/>
        <activity android:name=".yong.charactercodingexception.UTF8ToGBKActivity"/>
        <activity android:name=".yong.charactercodingexception.GBKToGB2312Activity"/>
        <activity android:name=".yong.classformaterror.ClassFormatActivity"/>
        <activity android:name=".yong.jsonexception.JSONExceptionActivity"/>
        <activity android:name=".yong.stackoverflow.StackOverflowActivity"/>
        <activity android:name=".yong.stackoverflow.RecursionActivity"/>
        <activity android:name=".yong.stackoverflow.MutualReferenceActivity"/>
        <activity android:name=".yong.stackoverflow.MutualReference2Activity"/>
        <activity android:name=".yong.runtimeexception.RunTimeActivity"/>

        <receiver android:name=".yong.cameraaccessexception.MyDeviceAdminReceiver"
            android:label="@string/app_name"
            android:description="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/my_device_admin"/>
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>